html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 98%;
    margin: 0 auto;
}

.main-page {
    background: #151515;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 12px;
    margin-bottom: 24px;
    height: 70px;
    border-bottom: 1px solid #2e3c49;
    display: flex;
}

.report-name {
    margin-left: 64px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 58px;
    color: #c4c4c4;
}

.report-date {
    margin-top: 12px;
    margin-left: 64px;
    margin-right: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    color: #e7b468;
}    

.report-container  {
    height: 500px;
    background: #151515;
    overflow: scroll;
    border: 1px solid #2e3c49;
}

.table {
    /* border: 1px solid  #2e3c49; */
    background: #151515;
    color: #c4c4c4;
}

.table tr:hover td {
    background-color: #777373;
    color: #fff;
}

td,
th {
    /* border: 1px solid  #2e3c49; */
    padding: 5px 10px;
    text-align: center;
}

thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    /* border: 1px solid  #2e3c49; */
    background: #152515;
    color: #fff;
}

thead th:first-child {
    left: 0;
    z-index: 1;
}

tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #152515;
    color: #fff;
}

tfoot th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    bottom: 0;
    background: #152515;
    color: #ffff00;
}

tfoot th:first-child {
    left: 0;
    background: #152515;
    z-index: 1;
}

.kalendar {
    margin-top: 12px;
}

.month {
    background:#c4c4c4;
    color:#14110e;
    font-size: 14px;
    height: 18px;
    width: 150px;
    border-radius: 5px;
}

.date-btn {
    /* margin-top: 4px; */
    display: inline-block;
    box-sizing: border-box;
    padding: 1px;
    margin: 2px 15px 15px 2px;
    outline: none;
    /* border: 1px solid #F18230; */
    border: 1px solid #fff;
    border-radius: 15px;
    height: 24px;
    line-height: 0;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}

.date-btn span {
    display: block;
    box-sizing: border-box;
    padding: 0 15px;   
    height: 20px;
    line-height: 18px;   
    border: 1px solid #F18230;
    border-radius: 25px;   
    font-size: 12px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F18230;
    text-align: center;
    font-weight: 600;
}
.date-btn:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.date-btn:hover span {
    background-color: #fba768
}
.date-btn:active span {
    background-color: #e7b468 !important;
}
.date-btn:disabled {
    opacity: 0.65;
    pointer-events: none;
}