html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.main-page {
    background: #E1F3F3;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 12px;
    margin-bottom: 24px;
    display: flex;
}

.logo-text {
    margin-left: 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #013D82;
}

.report-name {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #252D30
}

.report-date {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #252D30;
    margin-bottom: 22px;
}

.report-container  {
    height: 350px;
    background: #fff;
    /* padding: 0.5px 0.5px; */
    overflow: scroll;
}

.table {
    background-color:#e6e9ba;
    color: rgb(16, 19, 29);
    
}

td,
th {
    border: 1px solid rgb(78, 129, 224);
    padding: 5px 10px;
    text-align: center;
}

thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #8cbdda;
    /* color: rgb(22, 61, 87); */
    color: #080a16;
}
thead th:first-child {
    left: 0;
    z-index: 1;
}

tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #e8f3ed;
    border-right: 1px solid #CCC;
}

tfoot th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    bottom: 0;
    background: #5f9ea0;
    color: #ffff00;
}
  
  tfoot th:first-child {
    left: 0;
    background: #5f9ea0;
    z-index: 1;
}

tbody {
    background-color: #e4f0f5;
}

